.historique-container {
  padding: 1rem;
  margin-left: 50px;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh; 
  /* margin: 0px ; */
  background-color: #fdfdfd;
  margin-left: 330px;
   gap: 2rem; /* espace entre les colonnes */
     
    position: relative; /* très important pour que les positions absolues fonctionnent */
  
}

.colonne {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  margin-top: 200px;
}

.colonne2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  margin-top: 200px;
}

.card {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8rem;
}


.headerST {
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
background-color: #ffc7c7;
border: 6px dashed transparent;
border-image-slice: 1;
border-image-source: repeating-conic-gradient(
  from 0deg,
  #007bff 0deg 10deg,
  transparent 10deg 20deg
);
width: 70vw;          /* ← presque toute la largeur visible */
max-width: 1800px;    /* ← limite sur les très grands écrans */
margin: 0 auto;       /* ← CENTRÉ horizontalement */
animation: rotateBorder 3s linear infinite;
  }

  .logoST {
  height: 80px;
  animation: float 3s ease-in-out infinite;
  margin-left: 0%;
}