.sidebarCM {
  position: fixed;         /* Fixe la barre latérale */
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;           /* Prend toute la hauteur de l'écran */
  background-color:  #007BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1000;           /* Pour rester au-dessus du contenu */
}

.sidebarCM p {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebarCM .dot {
  height: 10px;
  width: 10px;
  background-color: #0f0;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.sidebarCM button {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: orange;
    cursor: pointer;
    transition: transform 0.2s;
    display: inline-block;
}

.sidebarCM button:hover {
  background-color: #ffe0b2;
    transform: scale(1.05);
}

/* Réduire la largeur de la sidebar sur les petits écrans */
@media (max-width: 768px) {
  .sidebarCM {
    width: 180px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .sidebarCM {
    width: 120px;
    padding: 10px;
  }

  .sidebarCM button {
    font-size: 12px;
    padding: 8px;
  }
}




.username-display {
  font-weight: bold;
  color: #2c3e50;
  display: flex;
  align-items: center;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 8px;
}

.profil-iconCM {
  font-size: 50px;
  font-size: 50px;
  color: white;
  height: 80px;         /* hauteur adaptée au font-size */
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;   /* rond si c’est une icône circulaire */
  background-color: #444; /* optionnel, contraste */
  margin-bottom: 10px;  /* espace sous l’icône */
  flex-shrink: 0;
}